DASHSCOPE_API_KEY=**sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx**
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
DASHSCOPE_MODEL=qwen-plus
# REPORT_ABSTRACT_MIN_WORDS=100
# REPORT_ABSTRACT_MAX_WORDS=200
# REPORT_REFERENCES_MIN_COUNT=1
